.DS_Store
Native/.DS_Store
/Managed/ModLoader/obj
/Managed/ModLoader/bin
/Managed/EntryPoint/bin
/Native/IL2CPP/DotNetHoster/DotNetHoster/bin
/Native/IL2CPP/DotNetHoster/DotNetHoster/obj
/Managed/publish
